main{

    .blue-banner{
        height: 80px;
        background-color: #0C7CEC;

        .container-detail-comic{
            position: relative;

            .img-detail-comic{
                position: absolute;
                bottom: -60px;
                left: 0;
            }
        }
    }

    .main-detail-comic{
        padding: 40px 0;

        .container-detail-comic{

            h4{
                text-transform: uppercase;
                text-align: right;
                color: rgba(0, 0, 0, 0.603);
                font-size: 14px;
            }

            .sub-container-detail-comic{
                display: flex;
                gap: 20px;

                .comic-information{

                    h1{
                        text-transform: uppercase;
                        color: rgb(18, 18, 72);
                        margin-bottom: 20px;
                    }

                    .available-comic{
                        display: flex;
                        margin-bottom: 13px;
        
                        .available-price{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 10px 18px;
                            background-color: #55ba59;
                            border-right: 1px solid black;


                            .available-price-left{
                                flex-grow: 1;
                                color: rgba(255, 255, 255, 0.523);

                                span{
                                    color: white;
                                }
                            }

                            .available-price-right{
                                text-transform: uppercase;
                                font-size: 12px;
                                color: rgba(255, 255, 255, 0.523);
                            }
                        }

                        .available-comic-status{
                            padding: 0 18px;
                            background-color: #55ba59;                            

                            select{
                                height: 100%;
                                border: none;
                                background-color: #55ba59;
                                color: white;
                            }
                        }
                    }

                    p{
                        color: rgba(0, 0, 0, 0.655);
                        font-size: 14px;
                    }
                }
            }

        }
    }
}

.container-detail-comic{
    width: 900px;
    margin: 0 auto;
}