* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.header .container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container figure img {
  width: 90px;
  margin: 15px 0;
}

.header .container .navbar {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 12px;
}

.header .container .navbar .nav-list.active {
  color: #0C7CEC;
  border-bottom: 5px solid #0C7CEC;
}

.header .container .navbar .nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 120px;
  color: initial;
}

.header .container .navbar .nav-list a:hover {
  color: #0C7CEC;
}

.header .container .navbar .nav-list a.active {
  color: #0C7CEC;
}

.jumbo {
  background: url(/img/jumbotron.jpg);
  background-position: top center;
  background-size: cover;
  height: 320px;
}

.current-series-container {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}

.current-series-container .jumbo {
  background: url(/img/jumbotron.jpg);
  background-position: top center;
  background-size: cover;
  height: 320px;
}

.current-series-container .current-series {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  padding: 30px 0 15px 0;
}

.current-series-container .current-series button {
  background-color: #0C7CEC;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}

.current-series-container .current-series .card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.current-series-container .current-series .btn-series {
  padding: 7px 15px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.current-series-container .current-series .btn-more {
  padding: 7px 30px;
  font-size: 10px;
  display: block;
  margin: 0 auto;
}

.shop-container {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0C7CEC;
  color: white;
}

.shop-container .shop {
  width: 964px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-container .shop .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.shop-container .shop .card img {
  height: 50px;
}

.shop-container .shop .card .special-size {
  width: 50px;
}

.shop-container .shop .card h3 {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.card-item {
  width: calc(16.6666666667% - 15px);
}

.card-item img {
  aspect-ratio: 1;
  -o-object-position: top center;
     object-position: top center;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.card-item h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 30px;
}

.blue-banner {
  height: 80px;
  background-color: #0C7CEC;
}

.blue-banner .container-detail-comic {
  position: relative;
}

.blue-banner .container-detail-comic .img-detail-comic {
  position: absolute;
  bottom: -60px;
  left: 0;
}

.main-detail-comic {
  padding: 40px 0;
}

.main-detail-comic .container-detail-comic h4 {
  text-transform: uppercase;
  text-align: right;
  color: rgba(0, 0, 0, 0.603);
  font-size: 14px;
}

.main-detail-comic .container-detail-comic .sub-container-detail-comic {
  display: flex;
  gap: 30px;
}

.main-detail-comic .container-detail-comic .sub-container-detail-comic .comic-information h1 {
  text-transform: uppercase;
  color: rgb(23, 23, 103);
  margin-bottom: 20px;
}

.main-detail-comic .container-detail-comic .sub-container-detail-comic .comic-information .available-comic {
  display: flex;
  margin-bottom: 13px;
}

.main-detail-comic .container-detail-comic .sub-container-detail-comic .comic-information .available-comic .available-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 18px;
  background-color: #55ba59;
  border-right: 1px solid black;
  flex-grow: 1;
}

.main-detail-comic .container-detail-comic .sub-container-detail-comic .comic-information .available-comic .available-price .available-price-left {
  color: rgba(255, 255, 255, 0.523);
}

.main-detail-comic .container-detail-comic .sub-container-detail-comic .comic-information .available-comic .available-price .available-price-left span {
  color: white;
}

.main-detail-comic .container-detail-comic .sub-container-detail-comic .comic-information .available-comic .available-price .available-price-right {
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.523);
}

.main-detail-comic .container-detail-comic .sub-container-detail-comic .comic-information .available-comic .available-comic-status {
  padding: 0 18px;
  background-color: #55ba59;
}

.main-detail-comic .container-detail-comic .sub-container-detail-comic .comic-information .available-comic .available-comic-status select {
  height: 100%;
  border: none;
  background-color: #55ba59;
  color: white;
}

.main-detail-comic .container-detail-comic .sub-container-detail-comic .comic-information p {
  color: rgba(0, 0, 0, 0.655);
  font-size: 14px;
  line-height: 20px;
}

.detail-comic {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  padding: 30px 0 110px 0;
  background-color: rgb(246, 246, 246);
}

.detail-comic .container-detail-comic {
  display: flex;
  gap: 40px;
}

.detail-comic .container-detail-comic .talent-comic {
  width: 50%;
}

.detail-comic .container-detail-comic .talent-comic h3 {
  color: rgb(23, 23, 103);
  padding-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
}

.detail-comic .container-detail-comic .talent-comic .art-talent,
.detail-comic .container-detail-comic .talent-comic .written-talent {
  padding: 10px 0;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
}

.detail-comic .container-detail-comic .specs-comic {
  flex-grow: 1;
}

.detail-comic .container-detail-comic .specs-comic h3 {
  color: rgb(23, 23, 103);
  padding-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
}

.detail-comic .container-detail-comic .specs-comic .series-specs,
.detail-comic .container-detail-comic .specs-comic .price-specs,
.detail-comic .container-detail-comic .specs-comic .sale-date-specs {
  padding: 10px 0;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
}

.detail-comic h5 {
  color: rgb(23, 23, 103);
  min-width: 35%;
}

.detail-comic a {
  color: rgb(47, 169, 203);
  font-size: 14px;
  font-weight: 500;
}

.detail-comic p {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.655);
}

.nav-comic {
  background-color: rgb(246, 246, 246);
}

.nav-comic .container-detail-comic {
  border-left: 1px solid #d8d8d8;
  display: flex;
}

.nav-comic .container-detail-comic .digital,
.nav-comic .container-detail-comic .shop,
.nav-comic .container-detail-comic .locator,
.nav-comic .container-detail-comic .subscription {
  color: #aeaeae;
  padding: 20px;
  border-right: 1px solid #d8d8d8;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.nav-comic h3 {
  font-size: 12px;
}

.nav-comic img {
  width: 37px;
  height: 37px;
  -o-object-fit: none;
     object-fit: none;
}

.container-detail-comic {
  width: 900px;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.bottom-link-container {
  background: url(/img/footer-bg.jpg);
  background-position: center;
  background-size: cover;
}

.bottom-link-container .bottom-link {
  width: 1024px;
  margin: 0 auto;
  background: url(/img/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  padding: 40px 0;
}

.bottom-link-container .bottom-link .comics-shop {
  margin-bottom: 10px;
}

.bottom-link-container .bottom-link .title-list {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}

.bottom-link-container .bottom-link .list-body {
  font-size: 10px;
  margin-right: 20px;
}

.bottom-link-container .bottom-link .list-body .links {
  list-style: none;
  margin-bottom: 4px;
}

.bottom-link-container .bottom-link .list-body .links a {
  text-decoration: none;
  color: #959595;
}

.social-container {
  background-color: #2e2d2d;
  padding: 25px 0;
}

.social-container .social {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-container .social .sign-up {
  border: 2px solid #0C7CEC;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  background: transparent;
}

.social-container .social .follow-us {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-container .social .follow-us .social-title {
  color: #0C7CEC;
  text-transform: uppercase;
  font-size: 14px;
}

.social-container .social .follow-us .social-list-link {
  list-style: none;
  display: flex;
  gap: 15px;
}

.social-container .social .follow-us .social-list-link .social-link {
  width: 25px;
}

