//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img{
    max-width: 100%;
  }
  
  li{
    list-style: none;
  }

//   HEADER CSS
  @import'../sass/partials/header.scss';

.jumbo{
    background: url(/public/img/jumbotron.jpg);
    background-position: top center;
    background-size: cover;
    height: 320px;
}





// FOOTER CSS
  @import'../sass/partials/footer.scss';