//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img{
    max-width: 100%;
  }
  
  li{
    list-style: none;
  }

  @import'../sass/partials/header.scss';

  @import'../sass/partials/footer.scss';
